{
  "extends": "standard",
  "globals": {
    "fetch": true,
    "caches": true,
    "DOMParser": true,
    "chai": true,
    "assert": true,
    "self": true,
    "xdescribe": true,
    "describe": true,
    "fdescribe": true,
    "expect": true,
    "xit": true,
    "it": true,
    "beforeEach": true,
    "Node": true,
    "HTMLElement": true,
    "customElements": true,
    "Comment": true,
    "NodeFilter": true,
    "HTMLUnknownElement": true
  }
}
